[submodule "aur/vte3-glade-catalogue"]
	path = aur/vte3-glade-catalogue
	url = ssh://aur4.archlinux.org/vte3-glade-catalogue.git
[submodule "aur/libreoffice-style-elementary-git"]
	path = aur/libreoffice-style-elementary-git
	url = ssh://aur4.archlinux.org/libreoffice-style-elementary-git.git
[submodule "aur/python-obpm"]
	path = aur/python-obpm
	url = ssh://aur4.archlinux.org/python-obpm.git
[submodule "aur/python-moc"]
	path = aur/python-moc
	url = ssh://aur4.archlinux.org/python-moc.git
[submodule "aur/python-moc-git"]
	path = aur/python-moc-git
	url = ssh://aur4.archlinux.org/python-moc-git.git
[submodule "aur/python-obpm-git"]
	path = aur/python-obpm-git
	url = ssh://aur4.archlinux.org/python-obpm-git.git
[submodule "aur/desktoggle"]
	path = aur/desktoggle
	url = ssh://aur4.archlinux.org/desktoggle.git
[submodule "aur/desktoggle-git"]
	path = aur/desktoggle-git
	url = ssh://aur4.archlinux.org/desktoggle-git.git
[submodule "aur/elementary-xfce-icons-git"]
	path = aur/elementary-xfce-icons-git
	url = ssh://aur4.archlinux.org/elementary-xfce-icons-git.git
[submodule "aur/xfce4-kbdleds-plugin"]
	path = aur/xfce4-kbdleds-plugin
	url = ssh://aur4.archlinux.org/xfce4-kbdleds-plugin.git
[submodule "aur/xfce4-kbdleds-plugin-git"]
	path = aur/xfce4-kbdleds-plugin-git
	url = ssh://aur4.archlinux.org/xfce4-kbdleds-plugin-git.git
