[submodule "aur/libreoffice-style-elementary-git"]
	path = aur/libreoffice-style-elementary-git
	url = ssh://aur.archlinux.org/libreoffice-style-elementary-git.git
[submodule "aur/desktoggle"]
	path = aur/desktoggle
	url = ssh://aur.archlinux.org/desktoggle.git
[submodule "aur/desktoggle-git"]
	path = aur/desktoggle-git
	url = ssh://aur.archlinux.org/desktoggle-git.git
[submodule "aur/elementary-xfce-icons-git"]
	path = aur/elementary-xfce-icons-git
	url = ssh://aur.archlinux.org/elementary-xfce-icons-git.git
[submodule "aur/libreoffice-style-elementary"]
	path = aur/libreoffice-style-elementary
	url = ssh://aur.archlinux.org/libreoffice-style-elementary.git
[submodule "aur/python-pep8-naming"]
	path = aur/python-pep8-naming
	url = ssh://aur.archlinux.org/python-pep8-naming.git
