
# Created by https://www.gitignore.io/api/git,ArchLinuxPackages

### ArchLinuxPackages ###
*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig

pkg/
src/

### Git ###
*.orig


# End of https://www.gitignore.io/api/git,ArchLinuxPackages
