[submodule "aur/desktoggle"]
	path = aur/desktoggle
	url = aur:desktoggle
[submodule "aur/desktoggle-git"]
	path = aur/desktoggle-git
	url = aur:desktoggle-git
[submodule "aur/elementary-xfce-icons-git"]
	path = aur/elementary-xfce-icons-git
	url = aur:elementary-xfce-icons-git
[submodule "aur/exfalso"]
	path = aur/exfalso
	url = aur:exfalso
[submodule "aur/libreoffice-style-elementary"]
	path = aur/libreoffice-style-elementary
	url = aur:libreoffice-style-elementary
[submodule "aur/libreoffice-style-elementary-git"]
	path = aur/libreoffice-style-elementary-git
	url = aur:libreoffice-style-elementary-git
[submodule "aur/mp3diags"]
	path = aur/mp3diags
	url = aur:mp3diags
[submodule "aur/elementary-xfce-icons"]
	path = aur/elementary-xfce-icons
	url = aur:elementary-xfce-icons
