[Desktop Entry]
Version=1.0
Type=Application
Name=Mathematica
Comment=Technical Computing System
TryExec=Mathematica
Exec=Mathematica %F
Icon=wolfram-mathematica
MimeType=application/mathematica;application/vnd.wolfram.cdf;application/mathematicaplayer
Categories=Development;Math;Science;
